body{
    background-color: #4EC199;
}

h1{
    color: #000000;
    font-size: 40px;
}

h2{
    color: #000000;
    font-size : 30px;
}

h3{
    color: #000000;
    font-size : 15px;
}

.sosobig{
    font-size : 25px;
}

.title{
    font-size : 30px;
} 

.body, .content{
    color: #000000;
    font-size: 20px;
}

p{
    margin : 10px;
}

a, .link{
    color  : #1a0dab;
    text-decoration:underline;
}

.post{
    margin : 30px ;
    padding : 20px ;
    border : 5px solid maroon ;
    background-color : lightgreen ;
}

.submitbutton{
    font-size : 20px;
    padding : 10px ;
    margin : 10px ;
    border : 2px solid black;
    color  : #1a0dab;
    text-decoration:underline;
}

.movetoright{
    margin-left:100px;    
}



/*pagination*/
.paginate{
    margin : 30px ;
    font-size: 20px;
}